name: Documentation

on:
  workflow_dispatch:
  release:
    types:
      - published

concurrency:
  group: docs-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: macOS-13
    steps:
      - name: ⬇️ Get Sources
        uses: actions/checkout@v5.0.0

      - name: Setup Pages
        uses: actions/configure-pages@v4.0.0

      - name: Swift DocC Action
        uses: fwcd/swift-docc-action@v1.0.2
        with:
          target: NavigationKit
          output: ./_site
          hosting-base-path: navigation-kit
          disable-indexing: 'true'
          transform-for-static-hosting: 'true'

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3.0.1

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.4
