name: Swiftlint

on:
  pull_request:
    paths:
      - '.swiftlint.yml'
      - 'Sources/**'
      - 'Tests/**'

jobs:
  lint:
    runs-on: macOS-latest
    steps:
      - name: ⬇️ Get Sources
        uses: actions/checkout@v4.2.0

      - name: Install swiftlint
        run: >
          if [[ ! -f "/usr/local/bin/swiftlint" ]]
             then
               brew install swiftlint
             fi

      - name: Swiftlint
        run: swiftlint lint
